<div class="container py-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">

      <div class="bg-white rounded p-3 shadow">
        <h1>Edit game</h1>
        <%= simple_form_for @game, url: url_for(@game) do |f| %>
          <%= f.input :name, label: "Enter the new name:" %>
          <%= f.input :price, label: "Enter the new price:" %>
          <%= f.input :description, label: "Enter the new description:" %>
          <%= f.input :active, as: :boolean %>
          <%= f.button :submit, class: "btn btn-primary" %>
        <% end %>
      </div>

    </div>
  </div>
</div>
